:root {
    --main-bg-color: lightblue;

    /* note colors */
    --note-color-sand: #fff8b8;
    --note-color-coral: #faafa8;
    --note-color-peach: #f39f76;
    --note-color-mint: #e2f6d3;
    --note-color-sage: #b4ddd3;
    --note-color-fog: #d4e4ed;
    --note-color-storm: #aeccdc;
    --note-color-dusk: #d3bfdb;
    --note-color-blossom: #f6e2dd;
    --note-color-clay: #e9e3d4;
    --note-color-chalk: #efeff1;

    /* book colors */
    --clr1: rgb(96, 107, 91);
    --clr2: rgb(120, 99, 110);
    --clr1bg: rgb(153, 166, 149);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(233, 206, 221);
    --clr2bg-light: rgb(247, 185, 219);
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
}