.note-preview {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.note-preview:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.note-preview .note-content,
.note-preview textarea {
    flex-grow: 1;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
    outline: none;
    width: 100%;
    min-height: 50px;
    overflow: visible;
}

.note-preview .note-img img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.note-preview .note-video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.note-preview .note-todo ul {
    list-style-type: none;
    padding-left: 0;
}

.note-preview .note-todo li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.note-preview .note-todo li span {
    cursor: pointer;
}

.note-preview .note-todo li span.done {
    text-decoration: line-through;
}

.note-preview .note-controls {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.note-preview:hover .note-controls {
    opacity: 1;
}

.note-preview .note-controls button {
    opacity: 0.5;
    background-color: transparent;
    border-style: none;
    transition: opacity 0.3s;
}

.note-preview .note-controls button:hover {
    opacity: 1;
}

.color-chooser {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.color-chooser button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.color-chooser button:hover {
    transform: scale(1.1);
}

.note-controls .color-chooser {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.note-controls .color-chooser button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.note-controls .color-chooser button:hover {
    transform: scale(1.1);
}