.note-list {
    list-style: none;
    padding: 15px;
    column-count: 4;
    column-gap: 20px;
    margin: 0;
}

.note-list li {
    break-inside: avoid;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .note-list {
        column-count: 3;
    }
}

@media (max-width: 900px) {
    .note-list {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .note-list {
        column-count: 1;
    }
}