.note-preview {
    margin: 10px;
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.note-preview .note-content{
    flex-grow: 1;
    margin-bottom: 10px;
}

.note-preview .note-controls {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.note-preview:hover .note-controls {
    opacity: 1;
}

.note-preview .note-controls button {
    opacity: 0.5;
    background-color: transparent;
    border-style: none;
    transition: opacity 0.3s;
}

.note-preview .note-controls button:hover {
    opacity: 1;
}